p{
    font-size:xx-large;
    font-weight:bolder;
}

h1{
    padding: 20px;
    border: 20px solid rgb(173, 235, 173);
    margin:20px;
}

img{
    height:500px;
    width:500px;
    background-color:rgb(189, 93, 109);
    padding: 50px;
}



video{
    height:auto;
    width: 100%;
}

.imgvideo{
    background-color:rgb(166, 29, 29);
    padding: 50px;
}

#p1{
    font-weight: 600;
    font-style:italic;

}

#p2{
    font-style:italic;
}

ol{
    list-style-type: upper-roman;
}

ul{
    list-style-type: none;
}

table, td, th{
    border:1px solid black;
    border-collapse: collapse;
}

th{
    background-color: blue;
}
button{
    background-color: blueviolet;
    border-collapse: collapse;
    border-radius: 5px;
    padding:5px;
    margin: 20px;
}

button:hover{
    background-color: bisque ;
}
h1:hover{
    color:aquamarine;
}

form{
    height:500px;
    width:100%;
    padding:50px;
    background-color: greenyellow;
    border-radius: 100px;
}


#one{
    grid-row:1/2;
    background-color: pink;
}

#two{
    grid-row:1/2;
    background-color: yellow;
}

#three{
    grid-row:1/2;
    background-color: lightgreen;
}

#four{
    grid-row:2/3;
    background-color: grey;
}

#five{
    grid-row:2/3;
    background-color: lightblue;
}

#six{
    grid-row:2/3;
    background-color: lightsalmon;
}


.chocolate{
    display: flex;
    grid-template-columns: 50% 50%;
}

@media (min-width:1204){
    nav{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
}

nav{
    display: flex;
    flex-direction:column;
}

.grid{
    display:grid;
    grid-template-columns: : 33% 33% 33%;
}